body{
    background-color:#BDCDD6;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

h1{
padding-top: 80px;
font-size: 3rem;
font-weight: 700;
text-align: center;
}
h3{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 50px;
    
}

.buttons{
    display: flex;
    justify-content: center;
    
}

button{
    font-size: 3.5rem;
    padding: 20px;
    border: none;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 7px 7px #848282;
    transition: all .3s ease-in-out;
   
}
button:hover{
    opacity: 0.8;
}

#result{
    text-align: center;
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    
}
#rock{
    background-color: brown;
}

#paper{
    background-color: #6096B4;
}
#scissors{
    background-color: #EEE9DA;
}

#scores{
    text-align: center;
    font-size: 1.6rem;
}
#user-score{
    color: brown;
}
#computer-score{
    color: darkolivegreen;
}